@import "tailwindcss";

@layer base {
  html, body, [class*="css"] {
    background-color: #090A0F !important;
    color: #F8FAFC !important;
    color-scheme: dark !important;
  }
}

/* Custom Sleek Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0F1117;
}
::-webkit-scrollbar-thumb {
  background: #272B36;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #FF5A00;
}

/* Force Form Elements & Inputs into Dark Theme */
input, select, textarea {
  background-color: #161922 !important;
  border-color: #272B36 !important;
  color: #F8FAFC !important;
}
input:focus, select:focus, textarea:focus {
  border-color: #FF5A00 !important;
  ring-color: #FF5A00 !important;
}
